/*



*/

@import url(assets/fonts.css);

html, body
{
	margin: 0; padding: 0;
	width: 100%;
	height: 100%;
	min-height: 100%!important;
	background: #020202;
	color: #f5f5f5;
	font-family: "Open Sans", Verdana, Tahoma, Arial, Sans-Serif;
	font-size: 12pt;
}

a {
	color: #f5f5f5;
}

h1, h2, h3, h4, h5 
{
	margin-bottom: 5px;
	font-weight: 300;
}

button, text, textarea, input
{
	font-family: "Open Sans", Verdana, Tahoma, Arial, Sans-Serif;
	box-sizing: border-box;

	border: none;

	color: #f5f5f5;
	outline: none;
}

input
{

	border-bottom: 1px solid #c0c0c0;
	background: #1a1a1a;

	width: 100%;
	font-size: 12pt;
	font-weight: 300;
	padding: 4px;
}

input.monospace
{
	margin-top: 5px;
	font-family: monospace;
}

button, input[type="submit"]
{
	background: #202020;
	display: inline-block;
	font-size: 13pt;
	padding: 4px;
	cursor: pointer;
}

textarea.log
{
	height: 400px;
	background: #020202;
	font-family: monospace;
	font-size: 11pt;
	box-sizing: border-box;
	padding: 5px;
	overflow-y: auto;
	overflow-x: hidden;

	display: block;
	width: 100%;
}

#messages-wrapper
{
	position: fixed;
	width: 100%;
}

.message
{
	width: 100%;
	padding: 10px;
	text-align: center;
	font-size: 18pt;
	font-weight: 300;
	display: none;
	cursor: pointer;
}

.message.error
{
	background: #210000;
	color: #fc0000;
}

.message.warn
{
	background: #444404;
	color: #fcfc11;
}

.message.info
{
	background: #042944;
	color: #00e5ff;
}

#wrapper
{
	margin: 0 auto;
	width: 800px;
	box-sizing: border-box;
	padding: 5px;
}

#subheader
{
	margin-bottom: 10px;
	font-size: 9pt;
	color: #c0c0c0;
	text-align: right;
}

.tab-pointer
{
	display: inline-block;
	background: #020202;
	font-size: 16pt;
	font-weight: 300;
	cursor: pointer;
	padding: 5px;
	margin: 0;
	border-top: 2px solid transparent;
}

.tab-pointer:hover
{
	border-top: 2px solid #808080;
	background: #080808;
}

.tab-pointer.active
{
	border-top: 2px solid #24c6fb;
	background: #101010;
}

#content
{
	background: #101010;
	box-sizing: border-box;
	padding: 10px;
}

.tab-content
{
	display: none;
}

.instance
{
	padding: 5px;
	box-sizing: border-box;
	margin: 3px;
	background: #181818;
}


.instance-tools
{
	width: 66px;
	float: right;
}

.instance-tool
{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 3px;
	cursor: pointer;
}

.instance-tool.edit
{
	background-size: 16px 16px !important;
	background: transparent url('../gfx/edit.svg') no-repeat center center;
	background-position: center!important;
}

.instance-tool.remove
{
	background-size: 16px 16px !important;
	background: transparent url('../gfx/remove.svg') no-repeat center center;
	background-position: center!important;
}

.instance-tool.active
{
	background-size: 16px 16px !important;
	background: transparent url('../gfx/active.svg') no-repeat center center;
	background-position: center!important;
}

.instance-tool.inactive
{
	background-size: 16px 16px !important;
	background: transparent url('../gfx/inactive.svg') no-repeat center center;
	background-position: center!important;
}

.editor-fullscreen
{
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
	margin-top: 10px;
	float: right;
}

.editor-fullscreen.expand
{
	background-size: 16px 16px !important;
	background: transparent url('../gfx/expand.svg') no-repeat center center;
	background-position: center!important;
}

.editor-fullscreen.collapse
{
	background-size: 16px 16px !important;
	background: transparent url('../gfx/collapse.svg') no-repeat center center;
	background-position: center!important;
	margin-top: 30px;
}

#editor-wrap.fullscreen
{
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background: #101010;
	box-sizing: border-box;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

#instance-name
{
	margin-bottom: 10px;
}

#instance-code
{
	height: 400px;
	box-sizing: border-box;
	font-size: 13pt;
}

#instance-code.fullscreen
{
	flex: 1;
}

.buttonset
{
	text-align: right;
	margin: 5px;
}

.log-entry
{
	margin: 2px;
}

.log-entry.info
{
	color: #ade9ff;
}

.log-entry.warn
{
	color: #fffdaa;
}

.log-entry.error
{
	color: #ff8e8e;
}

#about-legal {
	margin-top: 30px;
	font-size: 9pt;
	color: #c0c0c0;
	text-align: center;
}